In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, mean_squared_error

In [2]:
df = pd.read_csv('winequality-white.csv')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [5]:
data = df.drop('quality', axis = 1)
target = df['quality']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(data, target, train_size=0.75, random_state = 123)

In [8]:
from sklearn.neural_network import MLPClassifier

In [43]:
nnet = MLPClassifier(activation='tanh', solver='lbfgs', alpha=0.001, max_iter=50000, hidden_layer_sizes=(50,50), verbose=True)

In [44]:
nnet.fit(x_train, y_train)

MLPClassifier(activation='tanh', alpha=0.001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(50, 50), learning_rate='constant',
       learning_rate_init=0.001, max_iter=50000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=True, warm_start=False)

In [45]:
y_predicted = nnet.predict(x_test)

In [46]:
print(confusion_matrix(y_test, y_predicted))

[[  0   0   3   1   0   0   0]
 [  0   7  20  11   0   0   0]
 [  0  10 204 146   2   0   0]
 [  1   7 108 398  59   1   0]
 [  0   0  16 119  63   0   0]
 [  0   0   0  24  22   0   0]
 [  0   0   0   2   1   0   0]]

In [47]:
print(classification_report(y_test, y_predicted))

             precision    recall  f1-score   support

          3       0.00      0.00      0.00         4
          4       0.29      0.18      0.23        38
          5       0.58      0.56      0.57       362
          6       0.57      0.69      0.62       574
          7       0.43      0.32      0.37       198
          8       0.00      0.00      0.00        46
          9       0.00      0.00      0.00         3

avg / total       0.52      0.55      0.53      1225

In [48]:
score = accuracy_score(y_test, y_predicted)
print("Validation accuracy: {:.2%}".format(score))

Validation accuracy: 54.86%

In [49]:
mse = mean_squared_error(y_test, y_predicted)
print("MSE: {:.2%}".format(mse))

MSE: 63.67%

In [50]:
y_MLFF2 = pd.DataFrame(y_predicted)
y_MLFF2.to_excel('y_MLFF2.xlsx')